/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  .main__container {
    display: grid;
    grid-template-areas: 
    "sidebar nav nav nav nav"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    "sidebar content content content content"
    ;
  }

  .sidebar__container {
    border: 1px solid black;
    height: 100vh;
    grid-area: sidebar;
    display: grid;
  }

  .nav-bar__container {
    border: 1px solid blueviolet;
    grid-area: nav;
    display: grid;
  }

  .contents__container {
    border: 1px solid rosybrown;
    grid-area: content;
    display: grid;
  }