/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar nav"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    ;
  }

  .sidebar__container {
    background: rgb(239, 209, 131);
    padding: 15px;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 3fr 3fr;
    gap: 40px;
  }

  .nav__container {
    display: grid;
    gap: 10px;
  }

  .sidebar__item {
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding-left: 10px;
    font-size: 1.25rem;
  }

  .dashboard {
    padding-left: 0;
    font-size: 1.5rem;
    gap: 20px;
  }

  .support__container {
    display: grid;
    gap: 10px;
    }

  .header__container {
    border: 1px solid blueviolet;
    grid-area: nav;
    display: grid;
  }

  .contents__container {
    border: 1px solid rosybrown;
    grid-area: content;
    display: grid;
  }