/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    ;
  }

  .sidebar__container {
    background: rgb(239, 209, 131);
    padding: 15px;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 3fr 3fr;
    gap: 40px;
  }

  .sidebar-nav__container {
    display: grid;
    gap: 10px;
  }

  .sidebar__item {
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding-left: 10px;
    font-size: 1.25rem;
  }

  .dashboard {
    padding-left: 0;
    font-size: 1.5rem;
    gap: 20px;
  }

  .support__container {
    display: grid;
    gap: 10px;
    }

  .header__container {
    grid-area: header;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .top__menu {
    /* border: 1px solid black; */
    display: grid;
    align-items: center;
    align-content: start;
    grid-template-columns: 3fr 2fr;
  }

  .search {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  .search__icon {
    width: 25px;
  }

  #input__bar {
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    width: 32rem;
  }

  .info__bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
  }

  .alarm__icon {
    justify-self: end;
  }

  .user__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./images/james-discombe-06o01CtKjGw-unsplash\ copy.jpeg);
    background-size: cover;
    margin-left: 25px;
  }

  .lower__menu {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .user__icon-lower {
    background-image: url('images/james-discombe-06o01CtKjGw-unsplash\ copy.jpeg');
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .lower__left {
    border: 1px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  .lower__right {
    border: 1px solid pink;
  }

  .contents__container {
    border: 1px solid rosybrown;
    grid-area: content;
    display: grid;
  }